#!/bin/bash

WORKSPACE=$(cd $(dirname $0)/; pwd)
cd $WORKSPACE

app=yfstream
conf=cfg.json

function build() {
    go build
    if [ $? -ne 0 ]; then
        exit $?
    fi
    cp ipsearch/regionIp.dat ./regionIp.dat
    ./$app -v
}

function pack() {
    build
    git log -1 --pretty=%h > gitversion
    version=`./$app -v`
    echo $app-$version.tar.gz
    tar -czvf $app-$version.tar.gz control $app cfg.json gitversion regionIp.dat
}

function help() {
    echo "$0 build|pack"
}

if [ "$1" == "" ]; then
    help
elif [ "$1" == "build" ];then
    build
elif [ "$1" == "pack" ];then
    pack
else
    help
fi
